@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
  margin: 0;
  padding: 0;
  
}
body{
  min-height: 70vh;
  padding: 1rem;
  background-image: linear-gradient(to left top, #00008b, #13209d, #2438ae, #334ebe, #4464ce);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.todo_body{
  height: auto;
  min-width: 250px;
  max-width: 300px;
  background-color: #eefef0;
  /* background-image: linear-gradient(to right top, #dc080b, #d27809, #c8b053, #cbdca4, #eefef0); */
  min-height: 300px;
  max-height: 400px;
  align-items: left;    
  border: 2px solid rgb(3, 6, 0);
  border-radius: 1em;
  
  
}
h1{
    font-family: Lobster;
    align-items: center;
    text-align: center;
}
ol{
  list-style: squre inside url('../src/img/write.svg');
  align-items: flex-start;
}
li{
  color: #010801;
  cursor: pointer;
  background-size: contain;
  font-size: 20px;
  font-family: Lobster;
  
 }
 li:hover{
  color: red;
 }
 input{
  box-sizing: border-box;
  border-color: transparent;
  padding-left: 5px;
  /* border-radius: 12px; */
  line-height: 16px;
  width: 70%;
  font-family: Lobster;
  border-bottom: dashed;
  outline: none;
 }
 .input_area{
  display: flex;
  justify-content: center;
 }
 
  
button {
  width: 40%;
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #0c0c24 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 8px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
 